html, body{
  padding:0;
  margin:0;
  height:100%;
  font-size: 62.5%;
}
body>h1{
  text-align: center;
  margin: 20px 0 20px 0;
  font-size: 2.4rem;
  font-weight: bold;
  color: maroon;
}
.directionsContainer{
  position:relative;
  width:30%;
  height:95%;
  overflow-y:auto;
  float:left;
  background:white;
  margin-left: 40px;
  padding-left:15px;
}
#myMap{
  position:relative;
  width:calc(100% - 380px);
  width:60%;
  height:95%;
  float:left;
  margin-left: 10px;
  border: 1px solid black;
}